body {
    background-color: #363636;
    background-image: url('/Images/cycle.jpg');
    /* background-size: cover; */
    margin: 0;
    padding: 0;
}

#signin-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15%;
}

#signin-container form {
    width: 20%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    padding: 5%;
}

#signin-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

#signin-container input[type="email"],
#signin-container input[type="password"],
#signin-container input[type="text"] {
    width: 95%;
    padding: 15px;
    margin-bottom: 5%;
    border: 1px solid #414141;
    border-radius: 8px;
}

#signin-container button {
    width: 100%;
    margin: auto;
    margin-top: 10%;
    background-color: #252525;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

#signin-container button:hover {
    background-color: #ed1c24;
}

#signin-container .password-toggle {
    position: relative;
}

#signin-container .password-toggle span {
    position: absolute;
    right: -2%;
    top: 45%;
    cursor: pointer;
    color: #999;
}

#signin-container input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 10px solid #000;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 5px;
    align-items: center;
}

#signin-container .checkbox-label {
    font-size: 14px;
    font-weight: normal;
    color: #252525;
}

#signin-container p {
    margin-top: 5%;
    font-size: 12px;
    text-align: center;
    color: #999;
}

#signin-container #signup {
    margin-top: 10%;
    font-size: 16px;
    text-align: center;
    color: #252525;
}

#signin-container #signup a {
    color: #252525;
    font-weight: 700;
}

#signin-container .remember-forgot {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5%;
    font-size: 12px;
}

.forgot-password {
    color: #252525;
    font-size: 12px;
}

#navbar-container .search-bar {
    margin-right: 20%;
}

/* responsive */

@media (min-width: 100px) and (max-width: 200px) {
    #signin-container form {
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 300px) and (max-width: 800px) {
    #signin-container form {
        width: 80%;
    }
    #signin-container input[type="email"],
    #signin-container input[type="password"],
    #signin-container input[type="text"] {
        width: 90%;
    }
    #signin-container .password-strength {
        width: 70%;
        margin-left: 1%;
    }
    #signin-container .password-toggle span {
        right: 2%;
    }
    #signin-container h2 {
        margin-bottom: 10%;
    }
    #signin-container .popup {
        width: 70%;
    }
    #signin-container .text {
        width: 30%;
    }
    #navbar-container .navlogo {
        margin-left: 20%;
    }
    #signin-container p {
        font-size: 10px;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    #signin-container form {
        width: 80%;
        margin: auto;
    }
    #signin-container .popup {
        width: 70%;
    }
    #signin-container .text {
        width: 25%;
    }
    #signin-container .password-toggle span {
        right: 2%;
        top: 40%;
    }
    #navbar-container .navlogo {
        margin-left: 25%;
    }
    #signin-container p {
        font-size: 15px;
    }
    #signin-container .forgot-password {
        font-size: 16px;
    }
    #signin-container .checkbox-label {
        font-size: 15px;
    }
    #signin-container .popup {
        width: 70%;
    }
}