*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}


.logo{
    color: white;
}
.nav-list{
    display: flex;
    align-items: center;
}

.nav-item{
    margin: 0 2px;
}

.nav-link{
    padding: 12px;
    color: white;
    font-size: 16px;
}

.header-toggle,.header-close{
 display: none;
}


@media screen and (max-width:480px) {
header{
    height: 40px;
    justify-content: space-between;
}
.header-toggle{
    display: inline;
    color: white;
    font-size: 24px;
}

.header_close{
    position: absolute;
    /* top: 90px; */
    right: 24px;
    display: block;
    font-size: 24px;
    color: white;
}

i{
    color: white;
}
.nav{
    position: fixed;
    /* top: 5%; */
    top: 0;
    height: 100vh;
    right: -100%;
    background-color: black;
    color: white;
    width: 60%;
    padding: 24px 0;
    height: 100vh;
    z-index: 100;

    transition: 0.5s;
    border-radius: 0 0 0 50%;
}
ul li{
    list-style-type: none;
    margin: 20px 0;
}
.nav-list{
    display: flex;
    /* justify-content: start; */
    flex-direction: column;
}
.nav-item{
    margin: 10px 0;
}
.active{
    right: 0;
}
}