*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b1a1a;
}
:root {
  --text-white: #fff;
  --bg-black: black;
  --heading-size: 42px;
  --text-size: 21px;
}

/* reusable codes */

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--text-white);
}

button {
  padding: 10px 40px;
  color: white;
  background: transparent;
  outline: none;
  border: 1px solid yellow;
  border-radius: 10px;
}

/* resuable classes */
.container {
  max-width: 1360px;
  /* border: 2px solid white; */
  margin-inline: auto;
}
.min-container {
  max-width: 1180px;
  margin-inline: auto;
}
.flex {
  display: flex;
}

/* header styling */

header {
  color: var(--text-white);
  background-color: var(--bg-black);
}

.nav-div {
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
  padding-block: 10px;
}
.nav-div ul {
  display: flex;
  gap: 20px;
}
.sub-header div {
  display: flex;
  justify-content: end;
  gap: 30px;
  padding-block: 10px;
}
.sub-header div ul {
  display: flex;
  gap: 20px;
}

/* main section */

.hero-banner {
  height: 80vh;
  border: 2px solid;
  width: 100%;
  position: relative;
}

.hero-banner::before {
  position: absolute;
  background-image: url("./Website/Website/GravelHomepageAssetsDesktop.jpeg");
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero-banner div {
  margin-top: 150px;
  margin-left: 100px;
  /* font-size: var(--heading-size); */
  font-size: 42px;
  font-weight: bold;
  color: var(--text-white);
}

.hero-banner div p {
  font-size: var(--text-size);
  margin: 20px 0;
  font-weight: normal;
}

/*  choose our best seller styling*/
#section1 {
  margin-block: 50px;
  padding-block: 50px;
}
.section-heading h2 {
  font-size: var(--heading-size);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--text-white);
}
.bikes-container {
  gap: 20px;
  margin-block: 20px;
}
.bikes-container .single-bike {
  max-width: 350px;
  border: 2px solid;
  background-color: white;
  border-radius: 8px;
}
.bikes-container .single-bike img {
  width: 100%;
}
.bikes-container .single-bike .bike-desc {
  padding: 10px 5px;
}

/* brain technology styling  starts*/

#section2 {
  padding-block: 50px;
  margin-block: 50px;
}

.brain-techno-container {
  height: 50vh;
  border: 2px solid;
  width: 100%;
  position: relative;
}

.brain-techno-container::before {
  position: absolute;
  background-image: url("./Website/Website/GravelHomepageAssetsDesktop.jpeg");
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(0.5);
}
.brain-techno-container div {
  color: var(--text-white);
  margin: 50px 80px;
}

.brain-techno-container p {
  max-width: 700px;
  margin-block: 20px;
}
/* brain technology styling ends */

/* know more about us */
#section4 {
  margin-block: 50px;
  padding-block: 50px;
}
.overlay-container {
  height: 100%;
  width: 100%;
}

.overlay {
  height: 50vh;
  border: 2px solid;
  width: 100%;
  position: relative;
  margin: 20px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(155, 155, 44, 0.826);
}

.overlay::before {
  position: absolute;
  background-image: url("./Website/Website/InsideSpecialized_Retul_600x400.jpeg");
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(0.5);
}
.overlay1::before {
  background-image: url("./Website/Website/03_SUB_Leonid_Furmansky_Specialized_Domain_Final_Web_20copy.jpeg");
}
.overlay2::before {
  background-image: url("./Website/Website/NavigationalTiles_KidsBikes_1200x1200_01.jpeg");
  background-position: center;
  background-size: cover;
}

/*  contact page styling */

#section4 {
  margin-block: 50px;
  padding-block: 50px;
}

.contact-overlay {
  height: 80vh;
  border: 2px solid;
  width: 100%;
  position: relative;
  margin: 20px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(155, 155, 44, 0.826);
}
.form-container {
  background-image: url("./Website/Website/ROAD-5758_Tarmac_SL8_Launch_Desktop_2880x1620_01.jpeg");
  height: 80%;
  width: 100%;
  margin: 50px auto;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(1.2);
  background-position: center;
}

.contact-overlay::before {
  position: absolute;
  background-image: url("./Website/Website/ROAD-5758_Tarmac_SL8_Launch_Desktop_2880x1620_01.jpeg");
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  object-fit: contain;
  filter: blur(3px);
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .nav-div ul {
    display: none;
  }
}
