* {
    font-family: Arial, Helvetica, sans-serif;
}
/*
body {
    margin: 0;
    padding: 0;
    background-color: #484448;
}

#main {
    width: 90%;
    margin: auto;
    background-color: #484448;
}

#main>div:first-child {
    display: flex;
    justify-content: flex-end;
}

#main>div:first-child select {
    border: none;
    background-color: #484448;
    color: aliceblue;
    margin: 0px 10px;
}

#main>div:first-child option {
    background-color: transparent;
    border-radius: 5px;
}

#maindiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: baseline;
    background-color: #484448;
}

#filterdiv {
    width: 20%;
    font-size: 20px;
    color: white;
    padding-top: 0;
}

#filterdiv>div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
    padding: 20px 0px;
    z-index: -10;
    background-color: #484448;
}

#filterdiv select {
    background-color: #484448;
    color: white;
    border: none;
}

#filterdiv select:hover {
    cursor: pointer;
}

#filterdiv select::after:hover {
    cursor: pointer;
}

#products-container {
    #products-container {
        width: 100%;
        margin: auto;
        margin-bottom: 2%;
    }
}

#products {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5%;
    margin-bottom: 30%;
}

#products>div:hover {
    transform: scale(0.97);
}

#products>div {
    background-color: white;
    border-radius: 5px;
    height: 50vh;
    padding: 10px 15px;
    box-shadow: 0px 7px 30px 4px #422f0b, 0px 2px 16px 0px #422f0b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgDiv {
    width: 100%;
    height: 60%;
    position: relative;
}

.imgDiv img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.titlePrice {
    width: 100%;
    height: 30%;
    margin: auto;
    position: relative;
}

.addItem {
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 12px;
    background-color: transparent;
    padding: 6px;
    margin-right: 15px;
    color: #484448;
    transition: background-color 0.3s ease;
}

.addItem:hover {
    background-color: #eb001b;
    border: none;
    color: white;
    cursor: pointer;
}

#sorting {
    display: flex;
    color: aliceblue;
    margin-bottom: 5px;
    justify-content: flex-end;
    margin-bottom: 5%;
}

#select {
    background-color: transparent;
    color: aliceblue;
    border: none;
}

#select option {
    background-color: transparent;
}

#select:focus {
    outline: none;
    background-color: transparent;
}
*/
#pagination1 {
    text-align: center;
    margin-left: 200px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.pagination-button {
    margin-top: 20px;
    padding: 15px;
    background-color: #484448;
    border-radius: 5px;
    color: white;
}

.pagination-button:hover {
    cursor: pointer;
    background-color: #b33535;
} 


/* Body styles */
body {
    background-color: #484448;
    color: white;
    margin: 0;
}

/* Header styles */
header {
    background-color: #1c1c1c;
    padding: 20px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 100px;
}

header .header-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

/* Main styles */
#main {
    width: 90%;
    margin: auto;
}

#sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 950px;
}

#sorting select {
    background-color: #484448;
    color: white;
    border: none;
    padding: 5px;
    font-size: 16px;
}

#maindiv {
    display: flex;
    justify-content: space-between;
}

#filterdiv {
    width: 20%;
    font-size: 20px;
    color: white;
    padding: 20px 0;
}

/*  FILTERS header style */
.filter-header {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.filter-header i {
    margin-right: 10px;
    font-size: 24px;
}

/* Filter option styles */
.filter-option {
    margin-bottom: 20px;
}

.filter-option label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.filter-option select {
    background-color: #484448;
    color: white;
    border: 1px solid #747474;
    padding: 5px;
    width: 100%;
    font-size: 14px;
}


#products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* Product card styles */
.product-card {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 7px 30px 4px #422f0b, 0px 2px 16px 0px #422f0b;
    width: calc(33.33% - 20px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.product-card h2 {
    font-size: 20px;
    margin-top: 10px;
}

.product-card p {
    font-size: 16px;
    margin-top: 10px;
}

#products {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: calc(33.33% - 80px); 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); 
}

.item img {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: cover;
}

.titlePrice {
    text-align: center;
    color: black; 
    margin-top: 10px;
}

.titlePrice h3 {
    margin-bottom: 5px;
}


/* Footer */
* {
    font-family: Arial, Helvetica, sans-serif;
}

#footer-container {
    margin-top: 15%;
}

#footer-container #footer {
    background-color: #1c1c1c;
    width: 100%;
    padding-top: 5%;
    color: aliceblue;
}

#footer-container #footer a {
    text-decoration: none;
    color: aliceblue;
}

#footer-container .Social_media {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#footer-container .Social_media div {
    display: flex;
}

#footer-container .Social_media div:last-child {
    width: 80%;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
}

#footer-container .footer_top {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#footer-container .about {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#footer-container .about div {
    display: flex;
    flex-direction: column;
}

#footer-container .about div a {
    padding: 8px 0px;
    font-size: 14px;
}

#footer-container .about h4 {
    font-weight: bolder;
    font-size: 17px;
    color: #747474;
}

#footer-container .newsletter {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    color: aliceblue;
}

#footer-container .newsletter div {
    margin-top: 20px;
    width: 80%;
    height: 80%;
}

#footer-container .newsletter div input {
    height: 40px;
    width: 70%;
    border-radius: 10px 0px 0px 10px;
    background-color: #1c1c1c;
    border: 2px solid #747474;
    color: aliceblue;
    text-align: justify;
}

#footer-container .newsletter div input:focus {
    outline: #747474;
}

#footer-container .newsletter div input::placeholder {
    font-size: 17px;
    text-align: center;
}

#footer-container .newsletter p {
    font-size: 13px;
    font-weight: 500;
    padding-right: 30px;
    line-height: 20px;
    color: #747474;
}

#footer-container .newsletter #terms_con {
    text-decoration: underline;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: aliceblue;
}

#footer-container .newsletter div button {
    width: 29%;
    height: 45px;
    padding-bottom: 4px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin-left: -10px;
    background-color: #747474;
    color: #1c1c1c;
    font-size: 16px;
}

#footer-container .footer-bottom {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 13px;
    font-weight: 590;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 5%;
}

#footer-container .footer-bottom p {
    font-size: 12px;
    padding-bottom: 20px;
    color: #b8b3b3;
}

#footer-container .animated-text {
    animation: flowAnimation 7s infinite linear;
    white-space: nowrap;
    text-align: center;
}

#footer-container .animated-text span {
    display: inline-block;
    opacity: 0;
    position: relative;
    top: -20px;
    animation: appearVibrateDisappearAnimation 8s infinite;
}

@keyframes appearVibrateDisappearAnimation {
    0% {
        opacity: 0;
        top: -20px;
    }
    10% {
        opacity: 1;
        top: 0;
    }
    30% {
        opacity: 1;
        top: 0;
    }
    70% {
        opacity: 1;
        top: 0;
    }
    80% {
        opacity: 1;
        top: 0;
        transform: translateX(-2px) rotate(-1deg);
    }
    82% {
        opacity: 1;
        top: 0;
        transform: translateX(2px) rotate(1deg);
    }
    84% {
        opacity: 1;
        top: 0;
        transform: translateX(-2px) rotate(-1deg);
    }
    86% {
        opacity: 1;
        top: 0;
        transform: translateX(2px) rotate(1deg);
    }
    88% {
        opacity: 1;
        top: 0;
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        opacity: 1;
        top: 0;
        transform: translateX(2px) rotate(1deg);
    }
    92% {
        opacity: 1;
        top: 0;
        transform: translateX(-2px) rotate(-1deg);
    }
    94% {
        opacity: 1;
        top: 0;
        transform: translateX(2px) rotate(1deg);
    }
    96% {
        opacity: 1;
        top: 0;
        transform: translateX(-2px) rotate(-1deg);
    }
    98% {
        opacity: 1;
        top: 0;
        transform: translateX(2px) rotate(1deg);
    }
    100% {
        opacity: 0;
        top: 20px;
    }
}

#footer-container .animated-copyright {
    animation: vibrationAnimation 2s infinite;
    display: inline-block;
    animation-delay: 2s;
}

@keyframes vibrationAnimation {
    0%, 100% {
        transform: translateX(-2px) rotate(-1deg);
    }
    50% {
        transform: translateX(2px) rotate(1deg);
    }
}

#footer-container .animated-copyright {
    animation: vibrationAnimation 2s infinite;
    display: inline-block;
    animation-delay: 2s;
    font-size: 50px;
    line-height: 1;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    #footer-container .footer_top {
        display: flex;
        flex-direction: column;
    }
    #footer-container .Social_media {
        width: 100%;
        margin: auto;
        align-items: center;
    }
    #footer-container .logo {
        width: 100%;
    }
    #footer-container .logo img {
        width: 50%;
        margin: auto;
    }
    #footer-container .newsletter {
        text-align: center;
        margin: 5%;
        display: flex;
        width: 100%;
    }
    #footer-container .newsletter div {
        align-self: center;
    }
    #footer-container h4 {
        margin-bottom: 0%;
    }
    #footer-container .footer-bottom {
        width: 90%;
        margin: auto;
    }
    #footer-container .about {
        display: none !important;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    #footer-container .footer_top {
        display: flex;
        flex-direction: column;
    }
    #footer-container .Social_media {
        width: 100%;
        margin: auto;
        align-items: center;
    }
    #footer-container .logo {
        width: 100%;
    }
    #footer-container .logo img {
        width: 50%;
        margin: auto;
    }
    #footer-container .newsletter {
        text-align: center;
        margin: 5%;
        display: flex;
        width: 100%;
    }
    #footer-container .newsletter div {
        align-self: center;
    }
    #footer-container .footer-bottom p {
        font-size: larger;
    }
    #footer-container .about {
        display: none !important;
    }
}







/* responsive */

@media (min-width: 300px) and (max-width: 800px) {
    #main {
        padding: 50px 5%;
    }
    #main>div:first-child {
        justify-content: center;
        margin-bottom: 20px;
    }
    #main>div:first-child select {
        margin: 0;
    }
    #maindiv {
        flex-direction: column;
        align-items: center;
    }
    #filterdiv {
        display: none;
    }
    #products-container {
        width: 100%;
        margin: auto;
        margin-bottom: 5%;
        /* Add margin-bottom to create space below #products */
    }
    #products {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.4%;
        width: 100%;
        margin: auto;
    }
    .titlePrice {
        height: auto;
        text-align: center;
    }
    .imgDiv {
        height: 70%;
    }
    .addItem {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    #main {
        padding: 60px 5%;
    }
    #main>div:first-child {
        justify-content: center;
        margin-bottom: 20px;
    }
    #main>div:first-child select {
        margin: 0;
    }
    #maindiv {
        flex-direction: column;
        align-items: center;
    }
    #filterdiv {
        display: none;
    }
    #products-container {
        width: 100%;
        margin: auto;
        margin-bottom: 5%;
    }
    #products {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 100%;
        margin: auto;
    }
    .catalog-title {
        margin-bottom: 5%;
        font-size: 20px;
        font-weight: 500;
    }
    .category-title {
        width: auto;
    }
    .category-title h3 {
        text-align: left;
    }
    .titlePrice {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 20px;
    }
    .imgDiv {
        height: 70%;
    }
    .addItem {
        margin-right: 0;
        margin-bottom: 15px;
    }
}